[Unit]
Description=Laptop undervolt for better battery life
DefaultDependencies=no
After=sysinit.target local-fs.target suspend.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/undervolt

[Install]
WantedBy=basic.target sleep.target
